@charset "UTF-8";

/* PALETA DE CORES 
VERDE: #49a09d
LILÃS: #5f2c82
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #49a09d , #5f2c82 );
    width: 100vw;
    height: 100vh;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#login {
    background-color: white;
    width: 58vw; 
    height: 99vh;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.719);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-pixabay-248921.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: bottom center;
    border-radius: 20px;
}

section#login > div#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

div#formulario > h1 {
    text-align: center;
    padding: 10px;
}

label {
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    max-width: 600px;
}

input {
    width: 50vw;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 1px 2px black;
    margin-top: 10px;
}

button {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 2px black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form > a.link{
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

form > a.link:hover{
    text-decoration: underline;
    color: gray;
    transition: 0.4s;
}


button:hover {
    background-color: gray;
    transition: 0.4s;
}
